* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}


/* ------------------LOGIN STYLES--------------------- */

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  letter-spacing: 1px;
  background-color: rgba(	17, 11, 17, 0.7);
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background-image: url('login-mobile.jpg');
  background-size: cover;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 95%;
  max-width: 520px;
  min-height: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(	116, 249, 255, 0.4) 0%,
    rgba(	17, 17, 17, 0.94) 65%,
    rgba(	0, 0, 0, 1) 100% 
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 1.4px;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1.2px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: #74f9ff;
  font-weight: 500;
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #74f9ff;
}

.login .loginContainer .errorMsg {
  color: #d80032;
  font-size: 16px;
  padding-top: 10px;
}

.logo-contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 130px;
  
}

.logo-login{
  width: 100%;
  position: relative;
  margin: auto;
}
/* ------------------HERO STYLES--------------------- */
.output {
  color: red;
}

.correct {
  color: green;
}

.hero {
  width: 100%;
  min-height: 100vh;
  /* background-color: #111111; */
}

.hero nav {
  background-color: rgba(0, 3, 0, 0.99);
  height: 80px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  align-self: flex-end;
  width: 100px;
  padding: 8px 0;
  border: 1px solid white;
  background-color: #111111;
  color: rgba(	116, 249, 255, 0.9);
}



.logo-page{
  position: relative;
  width: 20%; 
}

.nav-h1{
  color: rgba(	116, 249, 255, 0.85);
  font-size: 1.5em;
  letter-spacing: 2.2px;
  font-weight: lighter;
}

.nav-h1-span{
  font-size: 1.7em;
}

/* ---------------------_BURGER STYLES_----------------------- */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 35px;
  height: 30px;
  left: 20px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(	116, 249, 255, 1);
  animation: slide-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  color: rgba(	116, 249, 255, 1);
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
div.bm-menu {
  background-color: rgba(0, 3, 0, 0.99);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
 nav.bm-item-list {
  background-color: rgba(0, 3, 0, 0.99);
  padding: 0.8em;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: rgba(	116, 249, 255, 1);
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 3px;
  text-decoration: none;
}

.bm-item:hover {
  color: #ffffff;
}

/* ---------------------_UPLOAD PAGE_----------------------- */
.upload-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #111111;
  height: 100vh;
}

.upload-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #111111;
}

.upload-button{
  width: 40%;
  margin: auto;
  border: 1px solid white;
  background-color:rgba(	116, 249, 255, 1);
  color: black;
  box-shadow: 7px 5px 9px 0px rgba(255,255,255,0.43);
}

.upload-container h1 {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.upload-input{
  color: white;
  justify-items: center;
  margin: auto;
}

.spinner-contain{
  width: 50%;
  height: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container{
  margin: auto;
  width: 95%;
  height: 60vh;
  text-align: center;
  
}

.img-container p {
  color: white;
}

.img-wrap{
  width: 95vw;
  height: 60vh;
}
/* ---------------------_KEYFRAMES AND ANIMATIONS_----------------------- */

.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-10 10:8:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}



/* ---------------------------------------- */
@keyframes ldio-liikxaxhhs8 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-liikxaxhhs8 div {
  position: absolute;
  animation: ldio-liikxaxhhs8 1.28s linear infinite;
  width: 148px;
  height: 148px;
  top: 26px;
  left: 26px;
  border-radius: 50%;
  box-shadow: 0 4.2px 0 0 #00fbff;
  transform-origin: 74px 76.1px;
}
.loadingio-spinner-eclipse-veruk36x4of {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-liikxaxhhs8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-liikxaxhhs8 div {
   box-sizing: content-box;
   }
/* generated by https://loading.io/ */


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
