* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: black;
}


/* ------------------LOGIN STYLES--------------------- */

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  letter-spacing: 1px;
  background-color: rgba(	17, 11, 17, 0.7);
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background-image: url('login-mobile.jpg');
  background-size: cover;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 95%;
  max-width: 520px;
  min-height: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(	116, 249, 255, 0.4) 0%,
    rgba(	17, 17, 17, 0.94) 65%,
    rgba(	0, 0, 0, 1) 100% 
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 1.4px;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1.2px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: #74f9ff;
  font-weight: 500;
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #74f9ff;
}

.login .loginContainer .errorMsg {
  color: #d80032;
  font-size: 16px;
  padding-top: 10px;
}

.logo-contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 130px;
  
}

.logo-login{
  width: 100%;
  position: relative;
  margin: auto;
}
/* ------------------HERO STYLES--------------------- */

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.hero nav {
  background: #111111;
  height: 80px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}

.logo-page-contain{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.logo-page{
  position: relative;
  margin: auto;
  width: 140%;
}

.nav-h1{
  color: rgba(	116, 249, 255, 0.85);
  font-size: 1.5em;
  letter-spacing: 2.2px;
  font-weight: lighter;
}

.nav-h1-span{
  font-size: 1.7em;

}




/* ---------------------_KEYFRAMES AND ANIMATIONS_----------------------- */

.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-10 10:8:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
